<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.caihao.hospitalmanager.mapper.DoctorMapper" >
  <resultMap id="BaseResultMap" type="com.caihao.hospitalmanager.entity.Doctor" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="BIT" />
    <result column="headImg" property="head_img" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="INTEGER" />
    <result column="position" property="position" jdbcType="INTEGER" />
    <result column="department" property="department" jdbcType="VARCHAR" />
    <result column="birth_time" property="birthTime" jdbcType="TIMESTAMP" />
    <result column="work_time" property="workTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <!--查询医生信息-->
  <select id="selectDoctorList" resultType="com.caihao.hospitalmanager.entity.dto.DoctorDto">
    SELECT
      d.id,
      d.`name`,
      d.sex,
      d.head_img,
      t.`name` AS titleName,
      p.`name` AS positionName,
      dep.`name` AS departmentName,
      d.birth_time,
      d.work_time,
      d.create_time,
      d.update_time
    FROM
      doctor AS d
    LEFT JOIN position AS p ON d.position = p.id
    LEFT JOIN title AS t ON d.title = t.id
    LEFT JOIN department AS dep ON d.department = dep.id
    WHERE d.is_del = 0
  </select>
</mapper>